* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    min-height: 100dvh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to top right, purple 70%, orange);
}

table {
    width: 50%;
    margin: 20px auto;
    border-collapse: collapse;
    background: white;
    color: black;
}

th,
td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

th {
    background-color: greenyellow;
    color: white;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: orange;
    margin: 5px 0px;
}